/python/venv*
/python/.tensorboard*
/python/data_csv*
PSOPT*
/python/__pycache__*
/data_csv
/__pycache__*
.vscode/
/docker/build/*.txt
/docker/build/*.dat
/docker/build/*.out
/docker/build/*.tex
/python/*/*.dat
Results/*/
python/Results/*/*.dat
python/Results/*/*.txt
